.project-header {
    background-color: #02519C;
    color: white;
    padding: 120px 0 80px;
    text-align: center;
    margin-top: 90px;
}
.project-header h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}
.project-content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 80px 20px;
}
.project-uitleg {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 60px;
    color: #333;
}
.project-fotos {
    display: flex;
    gap: 20px;
    margin-bottom: 80px;
}
.project-fotos img {
    width: 20%;
    border-radius: 15px;
}

.terug-knop {
    text-align: center;
    margin: 40px 0;
}

.projectfotosrij {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.fotorij {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fotorij img {
    width: 22%;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
}
